fastapi
uvicorn
sqlalchemy
alembic
python-dotenv
psycopg2-binary
passlib[bcrypt]
jinja2
python-multipart
sqladmin
pydantic-settings
email-validator
aiosmtplib
itsdangerous
httpx
numpy
fastapi-users[sqlalchemy]
PyJWT
